/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    color: #000;
    line-height: 1.8;
}

.button {
    background-image: linear-gradient(0.25turn, #6cc1e2, #392f7a);
    font-size: 1.9rem;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
}

.lni {
    color: #e42424;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 40px 20px 40px 20px;
    text-align: center;
}

/* HEADER */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 2px 5px #d3d3d3;
    flex-wrap: wrap;
}
#logo{
    padding: 20px;
}
header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
}
nav ul li{
    list-style-type: none;
}
ul li a{
    color: #e42424;
}
#menuBtn {
    display: none;
}
#menuBtn:checked ~ nav {
   height: 220px; 
}
header label{
    position: relative;
    font-size: 2em;
    right: 40px;
    top: -15px;
    color: #e42424;
}
/* MAIN */
main #principalSection {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200%;
    padding: 20px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px black;
    color: white;
}

#principalSection p {
    margin-bottom: 30px;
}

#principalSection button {
    margin-bottom: 100px;
}

.contentSection {
    text-align: center;
    padding: 0 20px 40px 20px;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 30px;
}

.contentSection h3 {
    font-size: 2.7rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contentSection p {
    margin-bottom: 20px;
}

.contentSection .icon {
    font-size: 2em;
}

#scrivici {
    background-color: #0c0633;
    color: white;
    padding: 120px 20px 120px 20px;
}

.flex2 img {
    margin: 50px 0 20px 0;
    width: 100%;
}

table {
    margin: 10px 20px 40px 20px;
}

tr td:nth-child(1) {
    font-weight: bold;
    width: 200px;
}

tr td {
    padding: 10px;
}

table caption {
    font-size: 1.8rem;
    font-weight: bold;
}

tr:nth-child(1) {
    background-color: #d2dce7;
}

tr:nth-child(2) {
    background-color: #d2dce7;
}

tr:nth-child(3) {
    background-color: #d2dce7;
}

tr:nth-child(7) {
    background-color: #d2dce7;
}

tr:nth-child(8) {
    background-color: #d2dce7;
}

tr:nth-child(9) {
    background-color: #d2dce7;
}

#contatti {
    width: 80%;
    margin: 0 auto;
}

fieldset input {
    margin-bottom: 20px;
}

#textarea {
    margin-bottom: 20px;
}

/* FOOTER */
.collegamenti, .slogan {
    background-color: rgb(238, 238, 238);
    padding: 50px;
}

.collegamenti h3 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 20px;
}

.collegamenti p {
    margin-bottom: 20px;
}

.collegamenti .lni {
    font-size: 1.5em;
    margin-bottom: 50px;
}

form fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

fieldset input {
    padding: 10px;
    font-size: 1.9rem;
}

form legend {
    margin-bottom: 20px;
}

.slogan {
    font-size: 1rem;
}

#newsletter {
    margin-bottom: 0px;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    header nav { 
        overflow: visible;
        width: 100%;
        position: absolute;
        text-align: right;
        top: 15px;
    }
    header nav ul li{
        display: inline;
        color: black;
        
    }
    .containerHeader ul li{
        font-size: 1rem;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }

    .left p {
        text-align: left;
    }

    .contentSection img {
        margin-right: 10px;
        max-width: 50%;
        height: auto;
    }

    .flex p {
        text-align: left;
    }

    .left {
        text-align: left;
        margin-top: 20px;
    }

    #section2 {
        padding: 20px;
    }

    .flex2 {
        display: flex;
        justify-content: space-between;
    }
    .flex2 div img {
        min-width: 50%S;
    }
    .flex2 #contatti{
        padding-left: 30px;
    }
    .flex2 .contentSection{
        padding: 0 50px;
        margin-left: 150px;
    }
    .contentSection address{
        padding-bottom: 20px;
    }
    /* tbody{
        display: flex;
        width: 33%;
    } */
    .slogan {
        display: flex;
        padding-top: 0px;
        justify-content: center;
    }
    .collegamenti{
        justify-content: space-between;
    }
    .collegamenti div{
        padding: 20px;
    }
}
@media screen and (min-width: 1170px){
    .flex, .flex2{
        padding: 0 100px;
    }
}